@font-face {
  font-family: "iconfont"; /* Project id 2448518 */
  src: url("//at.alicdn.com/t/font_2448518_ahjsd6mk25e.woff2?t=1620186040064")
      format("woff2"),
    url("//at.alicdn.com/t/font_2448518_ahjsd6mk25e.woff?t=1620186040064")
      format("woff"),
    url("//at.alicdn.com/t/font_2448518_ahjsd6mk25e.ttf?t=1620186040064")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ico_qiyeF9_baxin2x:before {
  content: "\e63a";
}

.icon-jiazai:before {
  content: "\e636";
}

.icon-jingyin:before {
  content: "\e679";
}

.icon-shunxubofang:before {
  content: "\e606";
}

.icon-singlecycle:before {
  content: "\e6b0";
}

.icon-suijibofang:before {
  content: "\e612";
}

.icon-shanchu:before {
  content: "\e605";
}

.icon-tianjia:before {
  content: "\e609";
}

.icon-qingkong:before {
  content: "\e604";
}

.icon-shengyin:before {
  content: "\e753";
}

.icon-xiazai:before {
  content: "\e60b";
}

.icon-shoucang:before {
  content: "\e62a";
}

.icon-pinglun:before {
  content: "\e630";
}

.icon-xunhuan:before {
  content: "\e60a";
}

.icon-zanting:before {
  content: "\e638";
}

.icon-shangyishou:before {
  content: "\e63c";
}

.icon-xiayishou:before {
  content: "\e63e";
}

.icon-play:before {
  content: "\e664";
}

.icon-ttpodicon:before {
  content: "\e62f";
}

.icon-MV:before {
  content: "\e6af";
}

.icon-zhuanji:before {
  content: "\e694";
}

.icon-yinle:before {
  content: "\e6ad";
}

.icon-guanbi:before {
  content: "\e639";
}
